.cart {

  &__item {

    .product {

      &__code {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__color {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}
